@import '../../scss/base.scss';

.contact {
  background-image: linear-gradient(to right,darken($color-yellow, 15%), darken($color-yellow, 25%));

  &__h1 {
    @include headingInSection(darken($color-almost-black, 10%));
    @include underline($color-yellow, 2px, 1rem);
  }

  &__ways {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 1rem 0;
    &__single {
      margin: 0.5rem 0;
      color: darken($color-almost-black, 10%);
      font-size: 1.6rem;
      word-spacing: 1px;
      &__icon {
        margin-right: 1rem;
        font-size: 2rem;
        position: relative;
        top: -1px;
        &.FaFacebook {color: #3b5998;}
        &.FaGithub {color:#800080;}
        &.FaEnvelopeO {color:#fff;}
        &.FaPhone {color:#000;}
      }
    }
  }
}

